
* {
  word-break: break-word;
}

.selected {
  background: red;
}

.markdown img {
  max-width: 100%;
}

.hyperscroll > * {
  max-width: 700px;
  margin: auto;
}

.lightbox {
  position: absolute;
  display: flex
}

.Avatar {
  display: flex;
  flex-direction: column;
}

.Avatar img {
  width: 50px;
  height: 50px;
}

.side {
  width: 100px;
}

.message {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-top: 20px;
  border-top: solid 1px #eee;
}

.MessageMeta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message__wrapper {
  width: 100%;
}

.MessageMeta .Avatar {
  display: flex;
  flex-direction: row;
}

.MessageMeta .Avatar img {
  width: 32px; height: 32px;
}

.message_wrapper {
  width: 100%;
  width: 600px;
}

.content {
  background: #f4f4f4;
  font-size: 14pt;
}

.markdown {
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  .side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
  }

  .Avatar img {
    margin: 3px;
  }

  .Avatar {
    display: flex;
    flex-direction: row;
  }

  .message {
    flex-direction: column;
  }
}

.MessageMeta>a, .Message__actions>a, .Avatar__actions>a {
  background: lightgrey;
  color: black;
  text-decoration: none;
  padding: 5px;
  margin-left: 3px;
  border-radius: 3px;
}
.MessageMeta>a:hover, .Message__actions>a:hover, .Avatar__actions>a:hover {
  border: 1px solid black;
}













